.corpo-home{
    border: #5e7e95 solid 1px;
    border-radius: 3px;
}
#atualizar-home{
    background-color: brown;

    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
#atualizar-home h1, #atualizar-home p{
    color: black;
}
.aparecer{
    display: block;
}
#menu-mobile{
    display: block;
    padding: 10px 0;
}

#menu-mobile div{
    width: 40px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    border-radius: 10px;

    transition: .5s;
}
#line1{
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  #line2{
    opacity: 0;
  }
  #line3{
    transform: rotate(45deg) translate(-3px, -4px);
  }
.desaparecer{
    display: none;
}
.valores-home{
    width: calc(100% - 20px);
    margin: auto;
}
.home-card{
    list-style-type: none;

    padding: 20px;
    
    display: flex;
    justify-content: space-between;
}
.title-home{
    background-color: #5e7e95;
    text-align: center;
    padding: 20px 40px;
}
.title-home h3{
    color: #ffff;
}

.card-home .home-nota{
    border: #d2d6de solid 1px;
    padding: 10px;
    text-align: center;
}
.botao-home {
    padding: 10px;
    text-align: center;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-nome{
    width: 19%;
}
.home-nota{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}
/* .color1{
    background-color: #f9f9f9;
}
.color2{
    background-color: #FFF;
} */