.corpo-home{
    border: #5e7e95 solid 1px;
    border-radius: 3px;

    overflow: hidden;
}
#atualizar-home{
    background-color: #ffff;
    width: calc(100% - 100px);
    margin: auto;
    height: 90%;
    position: fixed;
    top: 0;

    border: #5e7e95 solid 2px;
    border-radius: 3px;

    transform: translateX(-120%);
    transition: .5s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



}

#atualizar-home h1{
    color: #fff;
    padding: 10px;
}
#atualizar-home input{
    box-shadow: 0 0 0 0;
    outline: 0;
    border: #d2d6de solid 1px;


    font-size: 20px;
    padding: 10px;
    margin: 10px 0;

    border-radius: 5px;
}
#atualizar-home button{
    cursor: pointer;
}
.aparecer{
    opacity: 1;

}
.desaparecer{
    opacity: 0;
}
/* Inputs atualizar */
.cabecalho2-home{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5e7e95;
    width: 100%;
}
#menu-mobile{
    display: block;
    padding: 10px 0;

    cursor: pointer;
}

#menu-mobile div{
    width: 40px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    border-radius: 10px;

    transition: .5s;
}
#line1{
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  #line2{
    opacity: 0;
  }
  #line3{
    transform: rotate(45deg) translate(-3px, -4px);
  }

.valores-home{
    width: calc(100% - 20px);
    margin: auto;
}
.home-card{
    list-style-type: none;

    padding: 20px;
    
    display: flex;
    justify-content: space-between;

}
.title-home{
    background-color: #5e7e95;
    text-align: center;
    padding: 20px 40px;
}
.title-home h3{
    color: #ffff;
}

.card-home .home-nota{
    border: #d2d6de solid 1px;
    padding: 10px;
    text-align: center;
}
.botao-home {
    padding: 10px;
    text-align: center;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.botao-home button{
    cursor: pointer;

}
.home-nome{
    width: 19%;
}
.home-nota{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}
/* .color1{
    background-color: #f9f9f9;
}
.color2{
    background-color: #FFF;
} */